@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #191919;
}
/* HEADER MOBILE */
header {
  background-color: #ffc017;
}

#navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #191919;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color 1s linear;
}

.unscrolledNavBar {
  background-color: #ffc017;
}

.unscrolledNavBtn {
  background-color: #191919;
}

.scrolledNavBar {
  background-color: white;
}

.scrolledNavBtn {
  background-color: #1b8917;
}

#logo {
  margin-left: 20px;
}

.navToHide {
  display: none;
}

#navBar a {
  text-decoration: none;
}

#navBar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

#navBar nav a {
  font-size: 0.8rem;
  color: #191919;
}

#navBar nav button {
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 0.7rem;
  transition: background-color 1s linear;
}

#navBar nav button:hover {
  background-color: black;
}

#mContainer {
  display: none;
}

#headerSecondSection {
  display: flex;
  border-bottom: 1px solid #191919;
  padding-top: 70px;
}

#headerSecondSection article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-size: 1.5rem;
  letter-spacing: -0.06rem;
  padding: 90px 20px;
}

#headerSecondSection h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: -0.3rem;
}

#headerSecondSection h2 {
  padding-right: 100px;
}

#headerSecondSection button {
  width: 220px;
  padding: 7px 0;
  font-size: 1.3rem;
  border-radius: 30px;
  border: none;
  background-color: #191919;
  color: white;
}

#headerSecondSection button:hover {
  background-color: black;
}

/* HEADER TABLET */

@media screen and (min-width: 768px) {
  #headerSecondSection article {
    flex-basis: 70%;
  }

  .navToHide {
    display: block;
  }

  #mSider {
    flex-shrink: 0;
    transform: scale(1.2);
  }

  #mContainer {
    display: flex;
    align-self: stretch;
    overflow: hidden;
    flex-basis: 30%;
    position: relative;
    right: 0;
  }
}

/* HEADER DESKTOP */

@media screen and (min-width: 992px) {
  #logo {
    padding: 0px 150px;
  }

  #headerSecondSection {
    justify-content: space-between;
  }

  #headerSecondSection article {
    padding-left: 190px;
  }

  #mContainer {
    flex-basis: 40%;
    justify-content: flex-start;
  }
}
/* unico modo che mi è venuto in mente per evitare che si 'stacchi' da destra */
@media screen and (min-width: 1900px) {
  #mContainer {
    justify-content: flex-end;
  }
}

/* MAIN MOBILE*/
main {
  letter-spacing: 0.05rem;
}
main h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 0.75em;
  margin-top: 35px;
  padding: 5px 30px;
  transform: translateX(-3.5px);
}

/* TRENDING POSTS MOBILE*/
.trendingPost {
  display: flex;
  transform: translateX(-7px);
  letter-spacing: -0.02rem;
  padding: 0px 30px 18px 30px;
}

.trendingPostStar {
  display: none;
}

.trendingPostDescriptionDot {
  display: none;
}

.trendingPostNumber {
  font-size: 1.95rem;
  font-weight: 800;
  color: #e6e7e7;
  margin-top: 5px;
}

.trendingPostContainer {
  margin-left: 20px;
}

.username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.username .name {
  font-size: 0.7rem;
  font-weight: 800;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 20px;
  border-radius: 90px;
}

.trendingPostText {
  font-weight: 700;
  padding-bottom: 10px;
}

.trendingPostDescription {
  display: flex;
  justify-content: space-between;
}

.trendingPostDescription p {
  color: #757677;
  font-size: 0.75rem;
}

#trendingSection {
  border-bottom: 1px solid #e6e7e7;
}

/* TRENDING POSTS TABLET */

@media screen and (min-width: 768px) {
  #trendingTitle {
    padding: 0 12%;
  }

  #trendingSection {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .trendingPost {
    width: 35%;
  }
}

/* TRENDING POSTS DESKTOP */

@media screen and (min-width: 992px) {
  .trendingPost {
    width: 25%;
    padding: 0px 20px;
  }

  .trendingPostDescription {
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .trendingPostDescriptionDot {
    display: flex;
  }

  .trendingPostStar {
    display: flex;
  }
}

/* RELATED NAV SECTION MOBILE */
#relatedNavSection {
  margin: 0 15px;
}

#relatedNavSection h3 {
  transform: translateX(2px);
  margin-bottom: 18px;
  padding: 0;
  font-weight: 900;
  letter-spacing: 0.07rem;
}

#relatedNavSection nav {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e7e7;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

#relatedNavSection nav a {
  margin: 0px 7px 7px 0;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 0.7rem;
  border: 0.5px solid #e6e7e7;
  text-decoration: none;
  color: #757677;
}

#relatedNavSection div {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

#relatedNavSection div a {
  padding: 0 30px 10px 0;
  font-weight: 600;
  font-size: 0.7rem;
  text-decoration: none;
  color: #757677;
}

/* RELATED NAV SECTION TABLET */
@media screen and (min-width: 768px) {
  #relatedNavSection {
    margin: 0 5%;
  }
}

/* RELATED POSTS SECTION MOBILE */

#relatedPostSection {
  margin: 0 15px;
}

.relatedPost {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relatedPostDescription {
  flex-grow: 1;
}

.relatedPostDescription h4 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.relatedPostContent > p {
  font-size: 0.8rem;
  padding-right: 80px;
  max-width: 80%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #757677;
  font-weight: 500;
}

.relatedPostFooter {
  width: 100%;
  margin-top: 5px;
  display: flex;
  font-size: 0.65rem;
  justify-content: space-between;
  align-items: center;
  color: #757677;
  font-weight: 400;
  letter-spacing: 0.02rem;
  white-space: nowrap;
}

.tag {
  background-color: #f3f3f3;
  padding: 4px 6px;
  border-radius: 10px;
}

.relatedPostFooter div {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  flex-basis: 60%;
}

.bookmark {
  margin-right: 20px;
  align-self: flex-end;
}

.relatedPostImg img {
  width: 180px;
}

/* RELATED POST SECTION TABLET */

@media screen and (min-width: 768px) {
  #relatedPostSection {
    margin: 0 5%;
  }
}

/* RELATED POST SECTION DESKTOP */

@media screen and (min-width: 992px) {
  #desktopLayout {
    display: flex;
    align-items: flex-start;
  }

  #trendingSection {
    margin: 0px 60px 60px 60px;
  }

  #relatedNavSection {
    order: 1;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
  }
}
